body {
     background-image: url('audio.jpg');
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	margin-top: 70px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
h2{
	color: blueviolet;
	box-shadow: 0 0 2px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	background-color: #b8e000;


}
.audio-container{
    background-color: white;
	padding: 30px;
	width: 330px;
	text-align: center;
	border-radius: 12px ;
	box-shadow: 0 0 20px #b8e000;

}
input[type="file"]{
	margin-top: 10px;
	padding: 8px;
	color: blue;
	
	

}
audio{
	background-color: #b8e000;
	border-radius: 5px;

}